@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01: #C58351;
    --cor02: #9B7659;
    --cor03: #706053;
    --cor04: #332B25;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: var(--cor02);
    color: white;
    text-align: center;
}

header h1{
    padding: 50px;
    font-variant: small-caps;
} 

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.25s;
    font-weight: bold;
}
a:hover{
    background-color: rgba(255, 255, 255, 0.678);
    color: var(--cor03);
    text-decoration: underline;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: var(--cor04);
}

section.imagem{
    background-color: var(--cor02);
    color: white;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.263);
    width: 400px;
}

footer{
    background-color: var(--cor02);
    color: white;
    padding: 10px;
    text-align: center;
}